body {
    background-color: #369FFF;
    margin: 0;
    padding: 0;
    font-family: 'McLaren', sans-serif; /* Set font to McLaren */
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.banner {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.banner.left {
    left: 0;
    background-color: #D4EBFF;
    color: black;
}

.banner.right {
    right: 0;
    background-color: #D4EBFF;
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #D4EBFF;
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.picture {
    position: relative;
    margin-top: 50px;
}