body {
    font-family: 'McLaren', sans-serif; /* Set font to McLaren */
    background-color: #369FFF;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.left, .right {
    flex: 1;
    text-align: center;
    font-size: 24px;
}

.left {
    font-family: 'McLaren', sans-serif; /* Set font to McLaren */
    padding-bottom: 100px;
 }

.right {
    font-family: 'McLaren', sans-serif; /* Set font to McLaren */
    padding-bottom: 100px;
 }
/* Style for the square */
.exit-square {
    position: absolute; /* Absolute positioning to overlap content */
    top: 0; /* Positioned at the top */
    left: 0; /* Positioned at the left */
    width: 150px; /* Width of the square */
    height: 100px; /* Height of the square */
    background-color: #D4EBFF; /* Background color of the square */
    color: black; /* Text color inside the square */
    padding: 20px; /* Padding inside the square */
    font-size: 18px; /* Font size of the text inside the square */
}

.next-q-square {
    position: absolute; /* Absolute positioning to overlap content */
    top: 0; /* Positioned at the top */
    right: 0; /* Positioned at the left */
    width: 150px; /* Width of the square */
    height: 100px; /* Height of the square */
    background-color: #D4EBFF; /* Background color of the square */
    color: black; /* Text color inside the square */
    padding: 20px; /* Padding inside the square */
    font-size: 18px; /* Font size of the text inside the square */
}

.t {
 font-family: 'McLaren', sans-serif;
    background-color: #369FFF;
    font-size: 54px;
}
.t2 {
    font-family: 'McLaren', sans-serif; /* Set font to McLaren */
    background-color: #369FFF;
    font-size: 30px;
}

.t3 {
    font-family: 'McLaren', sans-serif; /* Set font to McLaren */
    background-color: #369FFF;
    font-size: 30px;
}

.skeleton img {
    height: 600px;
    position: relative;
    bottom: 100px;
    left: 20px;
}